body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.section-one{
    display: flex;
    padding-bottom: 10%;
    background-repeat: no-repeat;
    padding: 5%;
    
}
#section-oneid{
    background-image: url(images/top-banner.png);
}
.section-second{
    display: flex;
    padding: 5%;
}
.color-orange{
    color: orange;
}
h1{
    font-size: 80px;
}
.first-text{
    padding-right:10%;
}
.link-button{
    color: white;
    text-decoration: none;
    background-color: orange;
    padding: 10px 30px;
    border-radius: 10px;
    
}
.second-text{
    padding-left: 15%;
}